h2 {
  font-weight: 500;
  font-size: 1.5rem;
}
.input-suffix {
  position: relative;
  top: 5px;
  color: var(--disabled-text-color);
}

.sign-up {
  color: var(--secondary-text-color);
  padding-left: 1px;
  .link {
    text-decoration: none;
    color: var(--accent-color);
    &:hover {
      color: var(--primary-color);
    }
  }
}

.divider {
  background: transparent;
  border: 1px solid var(--divider);
  padding: 0;
  height: 1px;
}
.or {
  color: var(--secondary-text-color);
}
.sign-in-google {
  color: white;
}
