<mat-sidenav-container class="primary-sidenav-container">
  <mat-sidenav
    #primaryDrawer
    class="primary-sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [ngClass]="
      (isHandset$ | async) === false
        ? openedDrawer
          ? 'open-drawer'
          : 'minimize-drawer'
        : 'open-drawer'
    "
  >
    <figure class="logo-figure">
      <img [src]="logo" alt="Vendetta" class="logo-img" />
    </figure>
    <mat-nav-list disableRipple="true">
      <a
        mat-list-item
        *ngFor="let menu of primaryMenu"
        (click)="selectPrimaryMenu(menu.name)"
      >
        <ng-container *ngIf="selectedPrimaryMenu === menu.name; else default">
          <mat-icon [svgIcon]="menu.icon_active"></mat-icon>
        </ng-container>
        <ng-template #default>
          <mat-icon [svgIcon]="menu.icon_default"></mat-icon>
        </ng-template>
      </a>
      <a
        mat-list-item
        class="sidenav-toggle"
        *ngIf="(isHandset$ | async) === false"
        (click)="openState()"
      >
        <mat-icon *ngIf="!openedDrawer">chevron_right</mat-icon>
        <mat-icon class="text-right w-full" *ngIf="openedDrawer"
          >chevron_left</mat-icon
        >
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="primary-content"
    [ngClass]="
      (isHandset$ | async) === false
        ? openedDrawer
          ? 'opened-content'
          : 'minimize-content'
        : ''
    "
  >
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        *ngIf="isHandset$ | async"
        (click)="primaryDrawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Vendetta</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
