.primary-sidenav-container {
  height: 100%;
}
.primary-sidenav {
  transition: width 0.5s ease-out;
}
.primary-sidenav.open-drawer {
  width: 15rem;
}
.primary-sidenav.minimize-drawer {
  width: 3.5rem;
  visibility: visible !important;
  display: block !important;
}

.logo-figure {
  text-align: center;
  margin: 1rem 0;
}

.logo-img {
  width: 2rem;
  height: auto;
}

.sidenav-toolbar {
  border-bottom: 1px solid var(--divider);
}

.primary-content.opened-content {
  margin-left: 240px !important;
  transition: margin 0.5s ease-out;
}
.primary-content.minimize-content {
  margin-left: 55px !important;
  transition: margin 0.5s ease-out;
}
