$md-background: (
  50: #e5e6e7,
  100: #bfc0c2,
  200: #94969a,
  300: #696b71,
  400: #484c52,
  500: #282c34,
  600: #24272f,
  700: #1e2127,
  800: #181b21,
  900: #0f1015,
  A100: #5a83ff,
  A200: #275dff,
  A400: #003df3,
  A700: #0036da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-foreground: (
  50: #fefefd,
  100: #fdfdfb,
  200: #fcfcf9,
  300: #fafaf6,
  400: #f9f9f4,
  500: #f8f8f2,
  600: #f7f7f0,
  700: #f6f6ee,
  800: #f5f5ec,
  900: #f3f3e8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary: (
  50: #ecf5fd,
  100: #d0e7fa,
  200: #b0d7f7,
  300: #90c7f4,
  400: #79bbf1,
  500: #61afef,
  600: #59a8ed,
  700: #4f9feb,
  800: #4596e8,
  900: #3386e4,
  A100: #ffffff,
  A200: #f6faff,
  A400: #c3deff,
  A700: #aad0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-secondary: (
  50: #fcf7ef,
  100: #f7ecd7,
  200: #f2e0bd,
  300: #edd3a3,
  400: #e9c98f,
  500: #e5c07b,
  600: #e2ba73,
  700: #deb268,
  800: #daaa5e,
  900: #d39c4b,
  A100: #ffffff,
  A200: #fffdfa,
  A400: #ffe8c7,
  A700: #ffddad,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #fbedee,
  100: #f6d3d6,
  200: #f0b6ba,
  300: #e9989e,
  400: #e5828a,
  500: #e06c75,
  600: #dc646d,
  700: #d85962,
  800: #d34f58,
  900: #cb3d45,
  A100: #ffffff,
  A200: #ffe6e8,
  A400: #ffb3b7,
  A700: #ff9a9f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
