@use "@angular/material" as mat;
@use "../../core/functions";

@import "one-dark-palette";
@import "../../core/variables";
@import "../../mixins/colors";
@include mat.core();

$primary: mat.define-palette($md-primary, 400);
$accent: mat.define-palette($md-secondary, 400);
$warn: mat.define-palette($md-warn, 400);

$one-dark-theme: functions.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  ),
  $foreground-dark-theme,
  $background-dark-theme
);

@include mat.all-component-themes($one-dark-theme);

$color-config: mat.get-color-config($one-dark-theme);

.custom-theme {
  @import "../../swal/vendetta-swal";
  @include color-palette($color-config);
  @include primary-palette($md-primary);
  @include secondary-palette($md-secondary);
  @include warn-palette($md-warn);
}
