// You can generate your custom theme from `http://mcg.mbitson.com/`

$md-background: (
  50: #e5e5e4,
  100: #bebfbd,
  200: #939491,
  300: #686964,
  400: #474843,
  500: #272822,
  600: #23241e,
  700: #1d1e19,
  800: #171814,
  900: #0e0f0c,
  A100: #aaff55,
  A200: #90ff22,
  A400: #77ee00,
  A700: #6ad400,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-foreground: (
  50: #fefefd,
  100: #fdfdfb,
  200: #fcfcf9,
  300: #fafaf6,
  400: #f9f9f4,
  500: #f8f8f2,
  600: #f7f7f0,
  700: #f6f6ee,
  800: #f5f5ec,
  900: #f3f3e8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-primary: (
  50: #f4fce6,
  100: #e4f6c0,
  200: #d3f197,
  300: #c1eb6d,
  400: #b3e64d,
  500: #a6e22e,
  600: #9edf29,
  700: #95da23,
  800: #8bd61d,
  900: #7bcf12,
  A100: #fefffd,
  A200: #e6ffca,
  A400: #cdff97,
  A700: #c1ff7e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-secondary: (
  50: #fff3e4,
  100: #fee0bc,
  200: #fecb8f,
  300: #feb662,
  400: #fda741,
  500: #fd971f,
  600: #fd8f1b,
  700: #fc8417,
  800: #fc7a12,
  900: #fc690a,
  A100: #ffffff,
  A200: #fff6f1,
  A400: #ffd5be,
  A700: #ffc4a5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #f5f0ff,
  100: #e7d9ff,
  200: #d7c0ff,
  300: #c6a7ff,
  400: #ba94ff,
  500: #ae81ff,
  600: #a779ff,
  700: #9d6eff,
  800: #9464ff,
  900: #8451ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #f9f6ff,
  A700: #e6ddff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
